<h1>Listing authors_books</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Book</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @authors_books.each do |authors_book| %>
  <tr>
    <td><%= authors_book.author_id %></td>
    <td><%= authors_book.book_id %></td>
    <td><%= link_to 'Show', authors_book %></td>
    <td><%= link_to 'Edit', edit_authors_book_path(authors_book) %></td>
    <td><%= link_to 'Destroy', authors_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Authors book', new_authors_book_path %>
