<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Authors:</b>
  <%= @book.authors.collect{|author| author.name }.join(', ') %>
</p>

<p>
  <b>Genre:</b>
  <%= @book.genre.name %>
</p>

<p>
  <b>Review:</b> <br/>
  <%= @book.review %>
</p>

<% if can? :manage, Book %><%= link_to 'Edit', edit_book_path(@book) %> |<% end %>
<%= link_to 'Back', books_path %>
